<h1>Create an article</h1>

<%= form_for @article do |m| %>
  <p>
    <%= m.label :title %> <br/>
    <%= m.text_field :title %>
  </p>
  <p>
    <%= m.label :description %>
    <%= m.text_area :description %>
  </p>
  <p>
    <%= m.submit %>
  </p>
<% end %>